body{
    font-family: Arial;
    text-align: center;
    background-color: #eaf1ea;
    padding: 20px;
}
h1{
    color: indianred;
}
button{
    background-color: #43c443;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;

}
button:hover{
    background-color: #43c443;
}